[Unit]
Description=Write FLV archive for stream %i
After=network.target
Requires=network.target

[Service]
User=www-data
Group=www-data

ExecStart=/usr/local/bin/record-archive.sh live %i
ExecStopPost=/usr/bin/sudo -n /bin/systemctl start after-archive@%i.service

Restart=on-failure
RestartSec=10
SuccessExitStatus=0 143

TimeoutStopSec=0
KillMode=control-group
